.CartadelMenu {
    max-width: 400px;
    height: 550px;
  }
  
.btnSumarCarrito{
  position: absolute;
  bottom: 10px;

}

.imagen{
  height: 300px;
}

  .example-header-image {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.elpoderdelasideas.com%2Flogo-mcdonalds-oculta-sexual-secreto-subliminal%2F&psig=AOvVaw02jwvFMH2x2l4FVvAHoQIz&ust=1632605376005000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCODAzJLHmPMCFQAAAAAdAAAAABAD');
    background-size: cover;
  }