
<!--Principio del toolbar -->
<mat-toolbar color="warn">
    <mat-toolbar-row>      
      <button mat-icon-button class="d-md-none" (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="'/'"><img src="../assets/LogoPrincipal.png" alt="MacDonaldo" class="Logo"/></a>
      <div class="d-none d-md-block">
        <a mat-button [routerLink]="'/menu'"><mat-icon> restaurant_menu</mat-icon>  Menu </a>
        <a mat-button [routerLink]="'/locales'"><mat-icon>store</mat-icon>Locales</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--Fin del toolbar -->
  <!--Principio del navegador Lateral-->
  <mat-sidenav-container>

    <!--Este seria el menu, y el "#sidenav" un ID que asi se pone en angular-->
    <mat-sidenav #sidenav>

      <!--Esta es una lista de opciones que no es obligatoria pero si es visualmente agradable
      Pasa lo mismo con el mat-icon, es opcional pero agrega referencias visuales-->
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/menu'"><mat-icon> restaurant_menu</mat-icon> Menu</a>
        <a mat-list-item [routerLink]="'/locales'"><mat-icon>store</mat-icon>Locales</a>
        <a mat-list-item [routerLink]="'/'"><mat-icon>bookmark</mat-icon>Items</a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item><mat-icon>arrow_back</mat-icon> Cerrar</a>
      </mat-nav-list>
    </mat-sidenav>
    <!--Aca finaliza la lista de opciones-->
    
    <!--Inicia el cuerpo de la aplicacion-->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <footer>
         <!--Aqui debemos agregar el footer de nuestro sitio --> 
        </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>